[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-taggit = "*"
django-import-export = "*"
graphene = "*"
graphene-django = "*"

[dev-packages]

[requires]
python_version = "3.7"
